<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.phanthilasaengthong.icanteen">
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:installLocation="preferExternal"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Random"
            android:label="@string/title_activity_random"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phanthilasaengthong.icanteen.MainActivity" />
        </activity>
        <activity
            android:name=".Choosing"
            android:label="@string/title_activity_choosing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phanthilasaengthong.icanteen.MainActivity" />
        </activity>
        <activity
            android:name=".NameList"
            android:label="@string/title_activity_name_list"
            android:parentActivityName=".Choosing"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phanthilasaengthong.icanteen.Choosing" />
        </activity>
        <activity
            android:name=".Details"
            android:label="@string/title_activity_details"
            android:parentActivityName=".NameList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phanthilasaengthong.icanteen.NameList" />
        </activity>
        <activity
            android:name=".Review"
            android:label="@string/title_activity_review"
            android:parentActivityName=".Details"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phanthilasaengthong.icanteen.Details" />
        </activity>
    </application>

</manifest>
